{% extends 'dashboard_layout.html' %}
{% block content %}


<div class="container col-lg-5 background_dash">
    <div style="position: relative;top: 10px;">
        <a href="{% url 'add_event' %}" title="Add event" style="text-decoration: none;color: white;font-size: 20px;margin-right: 20px;">
            <i class="fa-solid fa-plus icons"></i>
        </a>
        <a href="{% url 'change_pass' %}" title="Change password" style="text-decoration: none;color: white;font-size: 20px;margin-right: 20px;">
            <i class="fa-solid fa-key icons"></i>
        </a>
        <a href="{% url 'signout' %}" title="Logout" style="text-decoration: none;color: white;font-size: 20px;">
            <i class="fa-solid fa-power-off icons"></i>
        </a>
    </div>
    <div class="container-fluid background_dash_container">
        {% if events %}
            {% for events in events %}
            <!-- data start -->
            <div class="dash_data">
                <div class="row justify-content-between">
                    <a class="col" href="{% url 'edit_event' events.id %}" title="Edit" style="color: white;">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a class="col text-end" href="{% url 'delete_event' events.id %}" title="Delete" style="color: white;">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
                <a href="{% url 'view_event' events.id %}">
                    <div class="dash_data">
                        <h5 style="display: inline;">{{events.date}}</h5>
                        <h3>{{events.title}}</h3>
                        <p>{{events.context}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <div class="dash_data text-center">
                No Entries
            </div>
        {% endif %}
        <!-- data end-->
    </div>
</div>




{% endblock %}