{% extends 'dashboard_layout.html' %}
{% block content %}


<div class="container col-lg-5 background_dash">
    <div style="position: relative;top: 10px;">
        <a href="{% url 'dashboard' %}" title="Back" style="text-decoration: none;color: white;font-size: 20px;margin-right: 20px;">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <div class="container-fluid background_dash_container">
        <form method="POST">
            {% csrf_token %}
            <input required name="title" style="border-radius: 10px;" type="text" value="{{data.title}}" class="form-control my-2"> 
            <input required name="date" style="border-radius: 10px;" type="date" value="{{formatted_date}}" id="" class="form-control">
            <textarea required name="context" id="" class="form-control my-2 textarea" placeholder="Type your day here..." cols="30" rows="30">{{data.context}}</textarea>
            <button class="button form-control">Save</button>
        </form>
    </div>
</div>




{% endblock %}