{% extends 'layout.html' %}
{% block content %}

<div class="container col-lg-5 background">
    <div class="align-items-center container-fluid">
        <h2 class="text-center text-white">Forgot password</h2>
        {% for messages in messages %}
            {% if 'success' in messages.tags %}
                <div class="alert alert-success text-center">{{messages}}</div>
            {% elif 'error' in messages.tags %}
                <div class="alert alert-danger text-center">{{messages}}</div>
            {% endif %}
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <input name="email" class="form-control my-2" type="email" required placeholder="Enter Your Email" >
            <input name="password" class="form-control my-2" type="password" required placeholder="New password" >
            <input name="repassword" class="form-control my-2" type="password" required placeholder="Re-enter your password" >
            <button class="button form-control my-2">Update</button>
            <div>
                <div>
                    <a class="links my-2" href="{% url 'signin' %}">Login</a>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}