{% extends 'dashboard_layout.html' %}
{% block content %}


<div class="container col-lg-5 background_dash">
    <div style="position: relative;top: 10px;">
        <a href="{% url 'dashboard' %}" title="Back" style="text-decoration: none;color: white;font-size: 20px;margin-right: 20px;">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <div class="container-fluid background_dash_container">
        <input style=" background-color: #58caca2b;background-image: linear-gradient(315deg, #53a5a53a 0%, #5731563b 74%);color: white;border-style: none;" disabled value="{{data.title}}" style="border-radius: 10px;" type="text" placeholder="Title..."  class="form-control my-2"> 
        <input style=" background-color: #58caca2b;background-image: linear-gradient(315deg, #53a5a53a 0%, #5731563b 74%);color: white;border-style: none;" disabled value="{{data.date}}" style="border-radius: 10px;" type="text" id="" class="form-control">
        <textarea style=" background-color: #58caca2b;background-image: linear-gradient(315deg, #53a5a53a 0%, #5731563b 74%);color: white;border-style: none;" disabled name="" id="" class="form-control my-2 textarea" placeholder="Type your day here..." cols="30" rows="30">{{data.context}}</textarea>
    </div>
</div>




{% endblock %}